<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Ticket Booking Login</title>
	<footer class="footer">Copyright 2016 Gongqian Li & Xinyue Wang<br><br></footer>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body background="{{ url_for('static', filename='LoginPlane.jpg') }}">
      <h1>Airticket Booking Management</h1>
      {% block body %}
          {% if session['logged_in'] %}
              <p>You're logged in already!</p>
          {% else %}
          <div class="container">
            <div class="login">
                <h1 class="login-heading">
                <strong>Welcome.</strong> Please login.</h1>
                <form action="/login" method="POST">
                    <input type="username" name="username" placeholder="Username" class="input-txt">
                    <div class="login-footer">
                      <button type="submit" class = "btn btn--right">LOG IN</button>
                    </div>
                </form>
            <div class="login">
          </div>
          {% endif %}
      {% endblock %}

    </body>


</html>
