<!DOCTYPE html>
<html lang="en">
  	<head>
      	<meta charset="UTF-8" />
      	<style>
            body {
                font-family: "Tenor Sans", sans-serif;
            }
      	</style>
    </head>

    <script type="text/javascript">
        function showAdd(){
          addBalanceHtml = '<form method="POST" id="addBal" action="/addBalance">'+ 
                                '<input type="text" name="addAmount" placeholder="How Much">' +
                                '<input type="submit" value="Add" name="addBtn">' + 
                           '</form>';
          $('#addBalField').html(addBalanceHtml);
        }
    </script>

  	<body background="{{ url_for('static', filename='mainSearch.jpg') }}">
        <h1 align="center">Welcome, {{ user['name'] }}! Where do you want to go?</h1>
    		<div id = "passengerInfo">  
    			<p> Name: {{ user['name'] }} </p>
    			<p> Gender: {{ user['gender'] }} </p>
    			<p> Email: {{ user['email'] }} </p>
    			<p> Age: {{ user['age'] }} </p>
    			<p> Balance: {{ user['balance'] }}   <a onclick="showAdd()" href="#" ">Add Balance</a></p>
          <p> <a href="/showTicket"> Current Ticket </a></p>
          <div id='addBalField'></div>
    		</div>

        <p><a href="/logout">logout</a></p>

    		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    		<script type="text/javascript">
      		function searchAirTicket() {
           		$.ajax({
  			        type: "GET",
  			        url: "/searchATicket",
  			        contentType: "application/xml; charset=utf-8",
  			        data: $("#searchTicket").serialize(),
  			        success: function(data) {
  		                $('#searchResult').html(data);
  		            },
  		            error: function(jqXHR, textStatus, errorThrown) {
  			            alert(errorThrown);
  			        }
          		});
           		return false;
          	}
  		  </script>


        <div id = "searchForm" align="center">
      		<form id="searchTicket" onsubmit="return searchAirTicket()">
              <p>Departure City <input type="text" name="departure", placeholder="Departure City"> </p>
              <p>Destination City <input type="text" name="destination", placeholder="Destination City"> </p>
              <p><input type="submit" value="Search" name="searchBtn"></p>
          </form>
        	<div id = "searchResult"></div>
        </div>

        <div id = "buyForm" align="center">
          	<form method="POST" id="buyTicket" action="/buyATicket">
            		<p>Agency ID <input type="text" name="aAID" placeholder="AID"></p>
            		<p>Flight ID <input type="text" name="aFID" placeholder="FID"></p>
            		<p><input type="submit" value="Buy" name="buyBtn"></p>
          	</form>
        </div>

        <div align="center">
            <strong>
                {% with messages = get_flashed_messages() %}
                   {% if messages %}
                      {% for message in messages %}
                         {{ message }}
                      {% endfor %}
                   {% endif %}
                {% endwith %}
            </strong>
        </div>


  	</body>

</html>