<!DOCTYPE html>
<html lang="en">
  	<head>
      	<meta charset="UTF-8" />
      	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='ticketStyle.css') }}">
      	<style type="text/css">
      		nav {
			    float: left;
			    width: 200px;
			}
      	</style>
      	<title>My Milege</title>
    </head>

    <body background="{{ url_for('static', filename='mainSearch.jpg') }}">
    	<h1 align="center">My Milege Earned</h1>

    	<nav>
	    	<ul>
	            <li><a href="/">Home</a></li>
	            <li><a href="/accountInfo">My Account</a></li>
	            <li><a href="/showTicket">My Tickets</a></li>
	            <li><a class="active" href="/milege">My Milege</a></li>
	            <li><a href="/whereTo">My Recommendations</a></li>
	            <li><a href="/logout">Log Out</a></li>
	        </ul>
	    </nav>

	    <br>
	    <br>
	    <br>
		<table align="center">
			<thead>
				<tr>
				    <th>Company ID</th>
				    <th>Company Name</th>
				    <th>Miles</th>
		    	</tr>
			</thead>
			<tbody>
				{% for company in allMileges %}
			    	<tr>
			    		<td>{{company[0]}}</td> 
			    		<td>{{company[1]}}</td> 
			    		<td>{{company[2]}}</td> 
			    	</tr>
		    {% endfor %}
			</tbody>    
		</table>

	</body>
</html>