<!DOCTYPE html>
<html lang="en">
  	<head>
      	<meta charset="UTF-8" />
      	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='ticketStyle.css') }}">
      	<style type="text/css">
      		nav {
			    float: left;
			    width: 200px;
			}
      	</style>
      	<title>My Ticket</title>
    </head>

    <body background="{{ url_for('static', filename='mainSearch.jpg') }}">
    	<h1 align="center">My Tickets</h1>

    	<nav>
	    	<ul>
	            <li><a href="/">Home</a></li>
	            <li><a href="/accountInfo">My Account</a></li>
	            <li><a class="active" href="/showTicket">My Tickets</a></li>
	            <li><a href="/milege">My Mileage</a></li>
	            <li><a href="/whereTo">My Recommendations</a></li>
	            <li><a href="/logout">Log Out</a></li>
	        </ul>
	    </nav>


	    <br>
	    <br>
	    <br>
		<table align="center">
			<thead>
				<tr>
				    <th>Ticket ID</th>
				    <th>Flight ID</th>
				    <th>Agency ID</th>
				    <th>Departure Airport</th>
				    <th>Destination Airport</th>
				    <th>Duration</th>
				    <th>Distance</th>
		    	</tr>
			</thead>
			<tbody>
				{% for ticket in allTickets %}
			    	<tr>
			    		<td>{{ticket[0]}}</td> 
			    		<td>{{ticket[1]}}</td> 
			    		<td>{{ticket[2]}}</td> 
			    		<td>{{ticket[3]}}</td> 
			    		<td>{{ticket[4]}}</td> 
			    		<td>{{ticket[5]}}</td> 
			    		<td>{{ticket[6]}}</td>
			    	</tr>
		    {% endfor %}
			</tbody>    
		</table>
    </body>
</html>
